@page "/BarcodeReader"

<h3>条码扫描 BarcodeReader</h3>

<h4>扫描条码/QR码。</h4>

<button class="btn btn-primary"
        type="button"
        @onclick="(() => ShowScanBarcode = !ShowScanBarcode)">
    扫码
</button>
<input type="text" class="form-control" style="min-width: 100px;"
       @bind-value="BarCode"
       placeholder="条码" />
@if (ShowScanBarcode)
{

    <BarcodeReader ScanResult="((e) => { BarCode=e; ShowScanBarcode = !ShowScanBarcode; })"
                   Close="(()=>ShowScanBarcode=!ShowScanBarcode)"
                   OnError="OnError" />

}

<button class="btn btn-secondary"
        type="button"
        @onclick="(() => ShowCodes = !ShowCodes)">
    Code
</button>

@if (ShowCodes)
{
<pre>
    <code>
        @@if (ShowScanBarcode)
        {

            &lt;BarcodeReader ScanResult="((e) => { BarCode=e; ShowScanBarcode = !ShowScanBarcode; })"
                           Close="(()=>ShowScanBarcode=!ShowScanBarcode)"
                           OnError="OnError" /&gt;
            @@code{
                bool ShowScanBarcode { get; set; } = false;

                public string? BarCode { get; set; }

                private string message;

                private Task OnError(string message)
                {
                    this.message = message;
                    StateHasChanged();
                    return Task.CompletedTask;
                }

            }
        }
    </code>
</pre>
}
<br />

<button class="btn btn-primary"
        type="button"
        @onclick="(() => ShowScanBarcodeCustom = !ShowScanBarcodeCustom)">
    扫码[自定义界面]
</button>
<input type="text" class="form-control" style="min-width: 100px;"
       @bind-value="BarCodeCustom"
       placeholder="条码" />
@if (ShowScanBarcodeCustom)
{
    <BarcodeReader ScanResult="((e) => { BarCodeCustom=e; ShowScanBarcodeCustom = !ShowScanBarcodeCustom; })"
                   Close="(()=>ShowScanBarcodeCustom=!ShowScanBarcodeCustom)"
                   OnError="OnError"
                   UseBuiltinDiv="false"
                   @ref="barcodeReaderCustom" />

    <div @ref="barcodeReaderCustom.barcodeScannerElement">
        <div style="width: 480px; max-width: 100%">
            <button class="btn btn-outline-success p-2 m-1 w-25" data-action="startButton">扫描</button>
            <button class="btn btn-outline-success p-2 m-1 w-25" data-action="resetButton">重置</button>
            <button type="button" class="btn btn-outline-success p-2 m-1 w-25" data-action="closeButton">Close</button>

            <div data-action="sourceSelectPanel" style="display:none">
                <label for="sourceSelect">选择设备:</label>
                <select data-action="sourceSelect" style="max-width:100%" class="form-control">
                </select>
            </div>
            <div>
                <video id="video" style="height:480px;width: 640px;border: 1px solid red"></video>
            </div>
        </div>
    </div>


}
<p>@message</p>

<br />
<br />
<br />
<br />
<div class="table-attr d-none d-md-block">

    <h4>事件 Events</h4>

    <div class="table-container" _bl_79147904-531d-4e31-895f-47eb5e485a57="">

        <div class="table-toolbar">
        </div>

        <div class="table-wrapper">
            <table class="table is-single table-demo">
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <td><div class="table-cell">ScanResult</div></td>
                        <td><div class="table-cell">扫码结果回调方法/Scan result callback method</div></td>
                        <td><div class="table-cell">EventCallback&lt;string&gt;</div></td>
                    </tr>
                    <tr>
                        <td><div class="table-cell">Close</div></td>
                        <td><div class="table-cell">关闭扫码框回调方法/Close scan code callback method</div></td>
                        <td><div class="table-cell">EventCallback</div></td>
                    </tr>
                    <tr>
                        <td><div class="table-cell">ScanBtnTitle</div></td>
                        <td><div class="table-cell">扫码按钮文本/Scan button title</div></td>
                        <td><div class="table-cell">Parameter</div></td>
                    </tr>
                    <tr>
                        <td><div class="table-cell">ResetBtnTitle</div></td>
                        <td><div class="table-cell">复位按钮文本/Reset button title</div></td>
                        <td><div class="table-cell">Parameter</div></td>
                    </tr>
                    <tr>
                        <td><div class="table-cell">CloseBtnTitle</div></td>
                        <td><div class="table-cell">关闭按钮文本/Close button title</div></td>
                        <td><div class="table-cell">Parameter</div></td>
                    </tr>
                    <tr>
                        <td><div class="table-cell">SelectDeviceBtnTitle</div></td>
                        <td><div class="table-cell">选择设备按钮文本/Select device button title</div></td>
                        <td><div class="table-cell">Parameter</div></td>
                    </tr>
                    <tr>
                        <td><div class="table-cell">OnError</div></td>
                        <td><div class="table-cell">错误信息回调</div></td>
                        <td><div class="table-cell">Func&lt;string, Task&gt;</div></td>
                    </tr>
                    <tr>
                        <td><div class="table-cell">UseBuiltinDiv</div></td>
                        <td><div class="table-cell">使用内置扫码界面,默认True</div></td>
                        <td><div class="table-cell">bool</div></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th><div class="table-cell"><span class="table-text">参数/Parameter</span></div></th>
                        <th><div class="table-cell"><span class="table-text">说明/Description</span></div></th>
                        <th><div class="table-cell"><span class="table-text">类型/Type</span></div></th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="table-filter">
        </div>

    </div>
</div>

@code{

    /// <summary>
    /// 显示扫码界面
    /// </summary>
    bool ShowScanBarcode { get; set; } = false;

    /// <summary>
    /// 条码
    /// </summary>
    public string? BarCode { get; set; }

    private string message;

    private Task OnError(string message)
    {
        this.message = message;
        StateHasChanged();
        return Task.CompletedTask;
    }

    bool ShowCodes;

    #region Custom

    /// <summary>
    /// 显示扫码界面Custom
    /// </summary>
    bool ShowScanBarcodeCustom { get; set; } = false;

    /// <summary>
    /// 条码
    /// </summary>
    public string? BarCodeCustom { get; set; }

    BarcodeReader barcodeReaderCustom;

    #endregion
} 