@namespace ZXingBlazor.Components

<div @ref="Element">
    <svg id="code128"></svg>
    <svg id="ean-13"></svg>
    <svg id="ean-8"></svg>
    <svg id="ean-5"></svg>
    <svg id="ean-2"></svg>
    <svg id="upc-a"></svg>
    <svg id="code39"></svg>
    <svg id="itf-14"></svg>
    <svg id="msi"></svg>
    <svg id="pharmacode"></svg>
</div>
