@implements IAsyncDisposable
@namespace ZXingBlazor.Components
@inject IJSRuntime JS

@if (UseBuiltinDiv)
{
    <div class="modal alert-popup" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Edit form for the current item -->
                <div class="modal-body" @ref="barcodeScannerElement">

                    <button class="btn btn-primary p-2 m-1 w-25" data-action="startButton">@ScanBtnTitle</button>
                    <button class="btn btn-secondary p-2 m-1 w-25" data-action="resetButton">@ResetBtnTitle</button>
                    <button type="button" class="btn btn-info p-2 m-1 w-25" data-action="closeButton">@CloseBtnTitle</button>

                    <div data-action="sourceSelectPanel" style="display:none">
                        <label for="sourceSelect">@SelectDeviceBtnTitle:</label>
                        <select data-action="sourceSelect" style="max-width:100%" class="form-control">
                        </select>
                    </div>
                    <div>
                        <video id="video" playsinline autoplay style="min-height:150px;max-height:50%; max-width: 100%;border: 1px solid gray"></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
} 
